.navbar a:hover {
  text-decoration: underline;
  color: black;
}

a {
  color: black;
}
.container-fluid .row #gambar-me {
  text-align: center;
  margin-top: 20px;
}

.sosmed {
  text-align: start;
  margin: 30px;
  padding: 10px;
}

.sosmed a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.sosmed a:hover {
  text-decoration: underline;
  color: black;
}

#kategori a {
  text-decoration: none;
  color: black;
}

#kategori a:hover {
  text-decoration: underline;
}

#tags a {
  text-decoration: none;
  color: black;
}

#tags a:hover {
  text-decoration: underline;
}

#recent-post a {
  text-decoration: none;
  color: black;
  margin-bottom: 6px;
}

#recent-post a:hover {
  text-decoration: underline;
}

footer .footer .footer-bawah p {
  color: white;
}

footer {
  width: auto;
  height: 180px;
  background-color: #000000;
}

footer .footer {
  padding: 40px;
}

footer .follow-me {
  display: flex;
}

footer .footer .fs-4 {
  margin: 10px;
  color: rgb(255, 255, 255);
}

footer .footer .fs-4 a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-decoration: none;
}

footer .footer .fs-4 a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

/* minimal width */
@media (max-width: 600px) {
  footer .footer {
    padding: 10px;
  }

  footer .footer .fs-4 {
    color: rgb(255, 255, 255);
  }

  footer .follow-me .fs-4 {
    font-size: 10px;
  }
}

@media (min-width: 757px) {
  .container-fluid .row #gambar-me {
    margin-top: 100px;
    text-align: center;
  }
}
